<!-- Use this snippet if you do not want to nest your JTBD, otherwise use _jtbd-list.erb !-->
<div>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 60%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 13%;">
      <col span="1" style="width: 9%;">
    </colgroup>
    <tr>
      <th>Job statements</th>
      <th>Maturity</th>
      <th>Confidence</th>
      <th>Source</th>
    </tr>
    <% data.jobs_to_be_done.each do |jtbd| %>
      <% if jtbd.group == stage_key %>
        <tr>
          <td>
            <%= jtbd.jtbd %>
          </td>
          <td>
            <%= ux_grade(jtbd.grade) %>
          </td>
          <td>
            <%= jtbd.confidence %>
          </td>
          <td>
            <a href="<%= jtbd.source %>">Issue</a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
